.navbar {
    width: 90%;
    height: 9%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
}

.logodospartedos {
    display: none;
}


@media ( min-width: 320px) and ( max-width: 768px) {
    .navbar {
        height: 5%;
        margin-top: 3%;
    }

    .logodos {
        display: none;
    }
    .logodospartedos {
        display: flex;
    }
}
